body{
  margin: 0;
}
.App {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  form{
    display: block;
    width: 500px;
    margin: 0 auto
  }
  label{
    width: 95%;
    display: block;
    margin: auto;
  }
  input{
    width: 250px
  }
  textarea{
    width: 100%;
  }
  .profile{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 50px 0;
  }
  
  .profile img{
    width:100px;
  }
  
  .green{
    background-color: green;
  }
  .red{
    background-color: red;
  }
 
   span{
    font-weight: normal;
  }

  a.footer-link{
    color: #ffffff;
    text-decoration: none;
  }
  a.footer-link:hover{
    text-decoration: underline;
  }

  .remove{
    padding: 10px;
    border: 1px solid grey;
    background-color:#282c34;
    color: white;
  }